h1 {
    font-family: "press start 2p";
    background: linear-gradient(skyblue, lightgreen)
    
}

p {
    border: 5px solid;
    width: 250px;
    background: linear-gradient(skyblue, lightgreen)
}

body {
    back
}