/* 
Challenge:
Re-design the cookie widget!
PS: Make sure you change ALL of the listed CSS properties.
*/

body {
    background: green;
    color: pink;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin-top: 500px;
}

